{% load crispy_forms_tags %}

<form id="relatedModelForm" autocomplete="off" method="POST" enctype="multipart/form-data" action="{{ action_url }}">
    {% csrf_token %}

    <!-- Render fields except 'logo' and 'remove_logo' with crispy_forms -->
    {% for field in form %}
        {% if field.name != 'logo' and field.name != 'remove_logo' %}
            {{ field|as_crispy_field }}
        {% endif %}
    {% endfor %}

    <!-- Custom logo upload and preview section -->
    <div class="form-group mt-2">
        {% if form.instance.logo %}
            <div class="form-group mb-2">
                {% if not logo_placeholder %}
                    <label>Current Logo:</label>
                    <img id="modal-logo-thumbnail" class="ts-img-thumbnail" src="{{ logo_url }}" alt="Current Logo">
                    <div class="form-group">
                        {{ form.remove_logo|as_crispy_field }}
                    </div>
                {% endif %}
                <span id="logo-filename"></span>
            </div>
        {% endif %}
        <div class="form-group my-2">
            <span class="btn btn-black rounded-0 btn-file">
                Select Logo <input id="id-logo" type="file" name="logo">
            </span>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>