/***************** customized  ******************/
.ts-product-card-img {
    height: 200px;
    width:auto;
  /*   object-fit: cover; */
}

.ts-product-card-img {
    height: 200px;
    width:auto;
  /*   object-fit: cover; */
}

.ts-proc-detail-img-list {
    width:auto;
    height: 100px;
}

.ts-proc-detail-img {
    width:auto;
    height: 500px;
}

/***************** walkthrough ******************/
html {
    height: 100%;
}

body {
    background: url('/media/whiskey-background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px); /* minus header */
    color: #555;
    font-family: 'Lato';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

/* .navbar-toggler-icon {
    color: white;
}
 */
.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* fixed top navbar only on medium and up */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    .body {
        height: calc(100vh - 116px);
    }
}