/********** custom properties *********/
:root {
    --ts-std-text-font: "Roboto";
    --ts-std-heading-font: "Montserrat";
    --ts-logo-font: "DM Serif Display";
    --ts-std-text-size: 14px;
    --ts-std-h1-size: 20px;
    --ts-std-text-color: #ffffff;
    --ts-std-h2-size: 16px;
    --ts-std-text-bg-color: "rgba(255, 255, 255, .2)";
}

/************** GENERAL **************/
*, *::before, *::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: url('https://res.cloudinary.com/dqd3t6mmb/image/upload/v1730796220/What-is-a-dunnage-warehouse-and-what-role-does-it-play-in-making-scotch-whisky_tsyfvn.webp') no-repeat center center fixed;
    background-size: cover;
    min-height: 100%;
    color: #555;
    font-family: 'Lato';
}

main {
    margin-top: 112px; 
}

.ts-footer {
    font-family: var(--ts-std-text-font), sans-serif;
    font-size: 14px;
    background-color: black;
    padding-top: 0;
    padding-bottom: 0;
    color: white;
}

.ts-std-heading {
    color: var(--ts-std-text-color);
    font-size:  var(--ts-std-h1-size);
    font-weight: bold;
    font-family: var(--ts-std-heading-font), sans-serif;
    margin-bottom: 10px;
}

.ts-std-text {
    color: var(--ts-std-text-color);
    font-size: var(--ts-std-text-size);
    font-family: var(--ts-std-text-font), sans-serif;
    margin-bottom: 10px;
}

.ts-text-font {
    font-family: var(--ts-std-text-font), sans-serif;
}

.ts-header-font {
    font-family: var(--ts-std-heading-font), sans-serif;
}

.ts-header {
    margin-top: 20px;
}

.ts-spacer-bottom-lg {
    margin-bottom: 75px;
}

.ts-spacer-bottom-sm {
    margin-bottom: 15px;
}

/*  floating nav elements *****************************  */
#floating-nav-container {
    position: fixed;
    width: 260px;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 99;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    padding-left: 2.5px;
    padding-bottom: 1px;
  }
  
  .ts-search {
    background-color:#7A2D0F;
    color: white;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.ts-search-button {
    background-color: #7A2D0F;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;

}

.ts-search::placeholder {
    color: white;  
}

/************** Mailchimp form **************/
#mc_embed_signup {
    background: black; 
    clear: left;
    font: 12px;
    max-width: 90%;  
}
.mailchimp-logo {
    display: inline-block;
    background-color: white;
    border-radius: 4px;
    margin: 0px auto;
}

.refferal_badge {
    width: 120px;
    height: 30px;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
}

/************* HOME **************/

.ts-product-card-img {
    height: 200px;
    width:auto;
}

.ts-bag-img {
    height: 100px;
    width:auto;
}

/************* PRODUCTS PAGE **************/
.ts-prod-detail-img-list {
    width: 80%;
    height: auto;
    margin-bottom: 10px;
}

.ts-btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 150px;
    right: 10px;
    z-index: 99;
    background-color: rgba(255, 255, 255, .2);
}

.ts-btt-link {
    cursor: pointer;
}

/********* PRODUCT DETAIL PAGE ***********/
.ts-prod-detail-img {
    width:40%;
    height: auto;
}

.ts-taste-icons {
    height: 35px;
    width: 35px;
    background-color: rgba(255, 255, 255, .5);
    overflow: hidden;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.ts-taste-icons-black {
    height: 35px;
    width: 35px;
    background-color: black;
    overflow: hidden;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.ts-taste-icon-text{
    color: var(--ts-std-text-color);
    font-size: 12px;
    font-family: var(--ts-std-text-font), sans-serif;
    margin-bottom: 5px;
}

.ts-taste-icon-black-text{
    color: black;
    font-size: 12px;
    font-family: var(--ts-std-text-font), sans-serif;
    margin-bottom: 5px;
}

.ts-taste-icons a,
.ts-taste-icons i {
    color: white !important;
    text-decoration: none !important;
}

.ts-taste-icons-black i {
    color: white !important;
}

.ts-img-thumbnail {
    height: 75px;
}

.ts-prod-details-container {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin: 0;
}

.ts-prod-details-container-bg {
    background-color: rgba(0, 0, 0, .9);
    border-radius: 10px;

}

.ts-btn-white {
    background-color: white;
    color: black;
    border: none;
}


.ts-edit-buttons {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-color: white;
    width: 34px;
    height: 34px;
}

.ts-button-save {
    border-color: white;
    background-color: black;
    color: white;
}

.ts-button-save span {
    border-color: white;
    background-color: black;
    color: white;
}

.ts-filename {
    padding-top: 7px;
    padding-bottom: 7px;
}


.ts-col-image {
    width: 20%; 
}

.ts-col-alt-text {
    width: 65%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

.ts-col-delete {
    width: 15%;
    text-align: start;
    justify-content: start; 
}

/******************** BAG **********************/
.ts-bag-grid-header {
    display: grid;
    grid-template-columns: 190px 5px 75px;
    grid-gap: 5px;
    font-weight: bold;
}

.ts-bag-grid {
    display: grid;
    grid-template-columns: 65px 135px 75px;
    grid-gap: 5px;
}

.ts-bag-grid-item {
    text-align:left;
    padding: 5px;
}

.ts-bag-product-img img {
    height: auto;
    width: 60px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ts-bag-product-sub-total {
    width: 75px;
} 

.ts-bag-grid-p {
    width: 100px;
}



/***************** walkthrough ******************/
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    font-family: var(--ts-logo-font);
    font-size: 20px;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

/* .navbar-toggler-icon {
    color: white;
}
 */
.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}


/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 112px;
    right: 15px;
    z-index: 99999999999;
    width: 90%;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 50px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/************************ Allauth form formatting ****************************/

.allauth-form-inner-content {
    color: white;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem; 
    color: white; 
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8;
}

/******************** EDIT Product Form *********************/

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}


/**************** Media Queries *********************/
@media (min-width: 576px) {
    #floating-nav-container {
        width: 260px;
        bottom: 35px;
   }
}

@media (min-width: 768px) {
    main {
        margin-top: 56px; 
    }

    .message-container {
        top: 60px;
        right: 55px;
        width: 40%;
    }

    .ts-prod-detail-img {
        width:55%;
        height: auto;
    }
    .ts-taste-icons {
        height: 50px;
        width: 50px;
        font-size: 26px;
    }
    .ts-taste-icon-text{
        font-size: 14px;
    }
    .ts-col-image {
        width: 25%;
    }
    .ts-col-alt-text {
        width: 60%;
    }
    .ts-col-delete {
        width: 25%;
    } 

    /****** BAG ********/
    .ts-bag-grid-header {
        display: grid;
        grid-template-columns:
            330px
            82px
            150px
            75px;
        grid-gap: 5px;
        font-weight: bold;
    }
    
    .ts-bag-grid {
        display: grid;
        grid-template-columns:
            75px
            250px
            75px
            10px
            150px
            75px;
        grid-gap: 5px;
    }

    .ts-bag-product-img img {
        height: auto;
        width: 80px !important;
    }
}

/* Slightly larger container on xl screens */
@media (min-width: 992px) {
    main {
        margin-top: 64px;
    }

    .header-container {
        padding-top: 164px;
    }

    .message-container {
        top: 70px;
        right: 70px;
        width: 35%;
    }

    /****** BAG ********/
    .ts-bag-grid-header {
        display: grid;
        grid-template-columns: 
            1fr 
            82px 
            150px 
            75px;
        grid-gap: 5px;
        font-weight: bold;
    }
    
    .ts-bag-grid {
        display: grid;
        grid-template-columns: 
            125px
            1fr
            75px
            10px
            200px
            75px;
        grid-gap: 5px;
    }

    .ts-bag-product-img img {
        height: auto;
        width: 80px !important;
    }
}

@media (min-width: 1200px) {
    .container {
      max-width: 95%;
    }

    .message-container {
    top: 70px;
    right: 115px;
    width: 30%;
    }
}
