{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="ts-header">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <p class="ts-std-heading">Edit Product:</p>
                <hr>
            </div>
        </div>

        <div class="row px-2">
            <div class="col-12 col-md-8 mb-5 ts-prod-details-container-bg py-2">
                <form method="POST" action="{% url 'edit_product' product.gtin %}" class="form mb-2 text-white" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'list_image' and field.name != 'remove_image' %}
                            <div class="form-group row mb-1 align-items-center">
                                <label class="col-12 col-md-3 col-form-label text-md-end my-0" for="{{ field.id_for_label }}">
                                    {{ field.label }}
                                </label>
                                <div class="col-12 col-md-9">
                                    {{ field }}
                                    {% if field.help_text %}
                                        <small class="form-text text-muted">{{ field.help_text }}</small>
                                    {% endif %}
                                    {% for error in field.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                    
                            <!-- allowing edit and add new brands through a modal form relatedModelModal -->
                            {% if field.name == 'brand' %}
                                {% if request.user.is_superuser %}
                                    <div class="row mb-3">
                                        <div class="d-none d-md-block col-md-3"></div>
                                        <div class="col-12 col-md-9">
                                            <!-- Button to open modal for adding a new brand -->
                                            <button type="button" class="btn ts-edit-buttons" onclick="openModal('brand', 'add')">+</button>
                                            
                                            {% if form.brand.value %}
                                                <!-- Button to open modal for editing the selected brand -->
                                                <button type="button" class="btn ts-edit-buttons" onclick="openModal('brand', 'edit', '{{ form.brand.value }}')">✎</button>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                            
                            <!-- allowing edit and add new bottler through a modal form relatedModelModal -->
                            {% if field.name == 'bottler' %}
                                {% if request.user.is_superuser %}
                                    <div class="row mb-3">
                                        <div class="d-none d-md-block col-md-3"></div>
                                        <div class="col-12 col-md-9">
                                            <!-- Button to open modal for adding a new brand -->
                                            <button type="button" class="btn ts-edit-buttons" onclick="openModal('bottler', 'add')">+</button>
                                            
                                            {% if form.bottler.value %}
                                                <!-- Button to open modal for editing the selected brand -->
                                                <button type="button" class="btn ts-edit-buttons" onclick="openModal('bottler', 'edit', '{{ form.bottler.value }}')">✎</button>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    <div class="form-group row mb-2">
                        {% if not img_placeholder %}
                            <label id="list-image-label" class="col-12 col-md-3 col-form-label text-md-end" for="current-image">Product Thumbnail:</label>    
                            <div class="col-12 col-md-8 pb-0 mb-0">
                                <img id="current-image" class="ts-img-thumbnail" src="{{ img_url }}" alt="{{ product.name }}">  
                                <div class="form-group">
                                    {{ form.remove_image|as_crispy_field }}
                                </div>
                            </div>
                        {% endif %}
                        <div class="d-none d-md-block col-md-3"></div>
                        <div class="col-12 col-md-8 pb-0 mb-0">
                            <span id="filename"></span>
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <div class="d-none d-md-block col-md-3"></div>
                        <div class="col-12 col-md-8">
                            <span class="btn ts-button-save rounded btn-file">
                                Select Thumbnail <input id="id-list-image" type="file" name="list_image">
                            </span>
                        </div>
                    </div>
                    
                    <hr>

                     <!-- Management form for the inline formset -->
                    {{ formset.management_form }}
                    
                    <!-- Display Existing Images -->
                    <div class="form-group row mb-2">
                        <label class="col-12 col-md-3 col-form-label text-md-end">Existing Images:</label>
                        <div class="col-12 col-md-9">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="ts-col-image">Image</th>
                                            <th class="ts-col-alt-text">Alt Text</th>
                                            <th class="ts-col-delete">Del</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for form in formset %}
                                            {% if form.instance.pk %}
                                                <!-- Include hidden fields -->
                                                <div class="visually-hidden">{{ form.id }}</div>
                                                <div class="visually-hidden">{{ form.DELETE }}</div>
                                                <tr>
                                                    <td class="ts-col-image text-center">
                                                        {% if form.instance.image %}
                                                            <img src="{{ form.instance.image.url }}" alt="{{ form.instance.alt_text }}" class="img-fluid ts-img-thumbnail">
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <div class="ts-col-alt-text text-start form-group">
                                                            {{ form.alt_text }}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="ts-col-delete text-start form-check">
                                                            {{ form.DELETE }}
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Add New Images -->
                    <div class="form-group row mb-3">
                        <label class="col-12 col-md-3 col-form-label text-md-end">Add New Images:</label>
                        <div class="col-12 col-md-9">
                            {% for form in formset %}
                                {% if not form.instance.pk %}
                                    <!-- Include hidden fields -->
                                    <div class="visually-hidden">{{ form.id }}</div>
                                    <div class="form-group">
                                        <p>{{ form.image }}</p>
                                        <p>{{ form.alt_text.label_tag }} {{ form.alt_text }}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    <hr>

                    <!-- Taste Categories Formset Management Form -->
                    {{ taste_formset.management_form }}

                    <!-- Show saved Taste Categories -->
                    <div class="form-group row mb-2">
                        <label class="col-12 col-md-3 col-form-label text-md-end">Taste Categories:</label>
                        <div class="col-12 col-md-9">
                            <table class="table table-bordered" id="taste-categories-table">
                                <thead>
                                    <tr>
                                        <th>Category</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for form in taste_formset %}
                                        <!-- Include hidden fields -->
                                        <div class="visually-hidden">
                                            {{ form.id }}
                                            {{ form.product }}
                                            {{ form.taste_category }}
                                        </div>
                                        <tr>
                                            <td class="text-center">
                                                {% csrf_token %}
                                                <div class="d-flex align-items-center">
                                                    <div class="rounded-circle ts-taste-icons-black text-center d-flex align-items-center justify-content-center">
                                                        {{ form.instance.taste_category.fa_icon|safe }}
                                                    </div>
                                                    <span class="ts-taste-icon-black-text ms-2">{{ form.instance.taste_category.name }}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-check">
                                                    {{ form.DELETE }}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Add New Taste Categories -->
                    <div class="form-group row mb-3">
                        <label class="col-12 col-md-3 col-form-label text-md-end">Add Taste Categories:</label>
                        <div class="col-12 col-md-9">
                            <!-- Remove the nested form tag -->
                            <div id="add-taste-category-form">
                                {{ taste_category_form.taste_categories }}
                                <button type="button" class="btn btn-primary mt-2" id="add-taste-categories-button" data-url="{% url 'add_taste_categories' product.gtin %}">Add Selected Categories</button>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="form-group row">
                        <div class="d-none d-md-block col-md-3"></div>
                        <div class="col-12 col-md-8 text-start mt-3">
                            <a class="btn btn-outline-black rounded" href="{% url 'products' %}">Cancel</a>
                            <button class="btn ts-button-save rounded" type="submit">Save Product</button>
                        </div>
                    </div>
                </form>
            </div>            
        </div>
    </div>

    <!-- Modal Template for Adding/Editing a Related Model -->
<div class="modal fade" id="relatedModelModal" tabindex="-1" aria-labelledby="relatedModelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="relatedModelModalLabel">Add/Edit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="relatedModelModalBody">
                <!-- Form content will be injected here via JavaScript -->
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'products/js/product_management.js' %}"></script>
{% endblock %}
